<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приложение Контактов</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Приложение Контактов</h1>
</header>
<main>
    <section class="contacts">
        <h2>Ваши контакты</h2>
        <ul>
        </ul>
    </section>
    <section class="actions">
        <button>Добавить контакт</button>
        <button>Изменить контакт</button>
        <button>Удалить контакт</button>
    </section>
</main>
</body>
</html>